@font-face {
    font-family: DarkGrotesque;
    src: url(../fonts/DarkerGrotesque-VariableFont_wght.ttf);
  }

label, a, p{
    font-family: DarkGrotesque;
}


.secao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: auto;
}

.titulo {
    font-size: 30px;
    font-family: arial;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding:0 5px;
    width: 60vw;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    margin: 80px;
    padding: 15px;
}

.class_nome_idade {
    display: flex;
}

#id_nome {
    width: 60vw;
}

#id_idade {
    width: 20vw;
}

#id_descricao {
    min-height: 80vh;
}

.input_box{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-right: 50px;
}

.input_box input, textarea{
    width: 100%;
    padding:5px ;
    font-size: 1.0em;
    margin-top: 40px;
    background-color: #E6E6E6;
    outline: none;
    font-family: arial;
    border: 2px solid black;
}

.input_box label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 1.1em;
    font-weight: 550;
    font-family: arial;
}

.descricao {
    height: 200px;
}

.btn_salvar {
    display: flex;
    justify-content: center;
    margin: 50px;
    background-color: #2C5680;
    padding: 5px;
    font-size: 20px;
    color: white;
    width: 150px;
    height: 40px;
}

@media screen  and (max-width: 830px) {
    .rodape {
        flex-direction: column;
    }

    .infos {
        flex-direction: column;
    }


}   